{{ define "main" }}
{{ $hasPosts := where .Site.RegularPages "Section" "posts" }}
{{ $author := site.Params.author }}
{{ $authorImage := site.Params.author_image  }}
{{ $authorImageDark := site.Params.author_image_dark }}
{{ $hero := site.Params.hero | default site.Params.description }}
<section class="bg-persian-pattern flex-1 flex flex-col dark:select-text-green-700 ">
    <!-- hero card section -->
    <section class="py-4  md:border-[0.3rem] border-black md:dark:bg-stone-700 md:bg-neutral-400 rounded-xl m-auto w-[94%] md:w-3/5 font-ComicRelief flex md:my-[7rem] md:px-2 flex-col md:flex-row items-center max-w-6xl md:mx-auto {{ if not $hasPosts }} mb-8 md:m-auto{{ end }}">
        <div class="relative my-[2rem] lg:my-1 md:hidden lg:block w-[16rem] h-[16rem] md:mx-[1rem] shrink-0">
            <img src="{{ $authorImageDark | relURL }}"
                 alt="{{ $author }}"
                 class="absolute inset-0 w-full h-full rounded-full object-cover aspect-square ring-[0.3rem] md:ring-[0.2rem] ring-black block dark:hidden" />
            <img src="{{ $authorImage | relURL }}"
                 alt="{{ $author }}"
                 class="absolute inset-0 w-full h-full rounded-full object-cover aspect-square ring-[0.3rem] md:ring-[0.2rem] ring-black hidden dark:block" />
        </div>
        <div class="max-w-2xl border-[0.3rem] dark:bg-stone-700 bg-neutral-400 md:border-0 border-black px-4 text-center  rounded-xl md:text-left">
            <p class="text-xl/9 md:text-3xl dark:text-neutral-400 text-black">
                Hey! I'm <span class="whitespace-nowrap  text-black rounded-md pr-2 pl-1  font-bangers text-3xl bg-sky-100 dark:bg-[#ba853e]">Yasin</span>. — a passionate programmer and back-end dev. I love learning new things, and I figured it wouldn't be a bad idea to share what I pick up along the way. <span class="text-black">Welcome to my little slice of the internet.</span>
            </p>    
        </div>
    </section>

    {{ if $hasPosts }}
    <section class="dark:bg-neutral-800 bg-neutral-400 border-black border-t-[0.3rem] font-mono mt-[0.5rem] mx-auto w-full" id="blog">
        <h2 class="font-bangers text-3xl dark:text-neutral-500 text-neutral-950 text-center">Latest Post</h2>
        <div class="grid gap-6 m-auto md:w-3/5 pb-[1rem] w-[94%] max-w-6xl">
            {{ range first 1 $hasPosts }}
            <article class="bg-neutral-300 dark:bg-neutral-500 p-6 rounded-xl dark:hover:bg-neutral-400 hover:bg-neutral-500 md:border-[0.3rem] border-black transition-colors w-full">
                <h3 class="font-bangers text-slate-950 text-2xl mb-2 ">
                    <a href="{{ .RelPermalink }}" class="dark:hover:text-amber-200 hover:text-sky-100">{{ .Title }}</a>
                </h3>
                <p class="text-neutral-800 mb-2">{{ .Date.Format "January 2, 2006" }}</p>
                <div class="font-mono font-bold text-xl custom-prose-home">{{ .Summary | truncate 250 | safeHTML }}</div>
                <div class="flex justify-center mt-4">
                    <a href="{{ .RelPermalink }}" class="inline-block font-bangers text-slate-950 text-2xl rounded-md px-2 dark:hover:bg-[#a46c23] bg-sky-100 dark:bg-[#692504] hover:bg-sky-200">Read More</a>
                </div>
            </article>
            {{ end }}
        </div>
    </section>
    {{ end }}
</section>
{{ end }}
