<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="{{ if .IsHome }}{{ site.Params.description }}{{ else }}{{ .Description }}{{ end }}" />
    <meta name="author" content="Yasin Amirany, یاسین امیرانی" />
    <meta name="keywords" content="یاسین امیرانی, Yasin Amirany, Web Developer, Back-end Developer" />
    <meta name="google-site-verification" content="akTqMHhQ8rPt3nsIN0G6-d9QYfBj6bTthGgxEsD0PpQ" />

    <!-- Open Graph Tags -->
    <meta property="og:title" content="{{ if .IsHome }}{{ site.Title }}{{ else }}{{ .Title }}{{ end }}" />
    <meta property="og:description" content="{{ if .IsHome }}{{ site.Params.description }}{{ else }}{{ .Description }}{{ end }}" />
    <meta property="og:image" content="{{ site.BaseURL }}assets/yasin-amirany.png" />
    <meta property="og:url" content="{{ .Permalink }}" />
    <meta property="og:type" content="website" />

    <!-- Favicon -->
    <link rel="icon" type="image/x-icon" href="{{ "assets/favicon.ico" | relURL }}" />

    <!-- Title -->
    <title>{{ if .IsHome }}{{ site.Title }}{{ else }}{{ printf "%s | %s" .Title site.Title }}{{ end }}</title>

    <!-- Structured Data -->
    <script type="application/ld+json">
        {
            "@context": "https://schema.org",
            "@type": "Person",
            "name": "Yasin Amirany",
            "alternateName": "یاسین امیرانی",
            "jobTitle": "Back-End Developer",
            "url": "{{ site.BaseURL }}",
            "sameAs": [
                "https://linkedin.com/in/yasin-amirany",
                "https://github.com/yasin1ar/"
            ],
            "description": "Yasin Amirany - Back-End Developer",
            "knowsLanguage": ["en", "fa"]
        }
    </script>

    
    {{ $style := resources.Get "css/style.css" | resources.Minify }}
    <link rel="stylesheet" href="{{ $style.RelPermalink }}">
    
    <!-- JavaScript Files -->
    <script src="{{ "js/mobile-menu.js" | relURL }}" defer></script>
    {{ if eq .Section "posts" }}
    <script src="{{ "js/rating-system.js" | relURL }}" defer></script>
    {{ end }}
</head>