<div class="flex space-x-4">
  <a
    href="https://github.com/yasin1ar"
    target="_blank"
    rel="noopener noreferrer"
    class="text-gray-400 hover:text-gray-500"
    aria-label="GitHub"
  >
    <img src="/icons/github-outline-svgrepo-com.svg" alt="Visit Yasin Amirany's GitHub profile" class="w-10 h-10" />
  </a>
  <a
    href="https://t.me/y44sin"
    target="_blank"
    rel="noopener noreferrer"
    class="text-gray-400 hover:text-gray-500"
    aria-label="Telegram"
  >
    <img src="/icons/telegram-svgrepo-com.svg" alt="Contact Yasin Amirany on Telegram" class="w-10 h-10" />
  </a>
  <a href="mailto:yasin@amirany.ir" class="text-gray-400 hover:text-gray-500" aria-label="Email">
    <img src="/icons/gmail-svgrepo-com.svg" alt="Send email to Yasin Amirany" class="w-10 h-10" />
  </a>
  <a
    href="https://linkedin.com/in/yasin-amirany"
    target="_blank"
    rel="noopener noreferrer"
    class="text-gray-400 hover:text-gray-500"
    aria-label="LinkedIn"
  >
    <img src="/icons/linkedin-svgrepo-com.svg" alt="Connect with Yasin Amirany on LinkedIn" class="w-10 h-10" />
  </a>
</div>
