<div class="flex space-x-4">
    {{ with site.Params.social_github }}
    <a href="{{ . }}" target="_blank" rel="noopener noreferrer" class="text-gray-400 hover:text-gray-500"
        aria-label="GitHub">
        <img src='{{ "social-icons/github.svg" | relURL }}' alt="GitHub" class="w-10 h-10" />
    </a>
    {{ end }}
    {{ with site.Params.social_telegram }}
    <a href="{{ . }}" target="_blank" rel="noopener noreferrer" class="text-gray-400 hover:text-gray-500"
        aria-label="Telegram">
        <img src='{{ "social-icons/telegram.svg" | relURL }}' alt="Telegram" class="w-10 h-10" />
    </a>
    {{ end }}
    {{ with site.Params.social_email }}
    <a href="{{ . }}" class="text-gray-400 hover:text-gray-500" aria-label="Email">
        <img src='{{ "social-icons/gmail.svg" | relURL }}' alt="Email" class="w-10 h-10" />
    </a>
    {{ end }}
    {{ with site.Params.social_x }}
    <a href="{{ . }}" target="_blank" rel="noopener noreferrer" class="text-gray-400 hover:text-gray-500"
        aria-label="LinkedIn">
        <img src='{{ "social-icons/x.svg" | relURL }}' alt="LinkedIn" class="w-10 h-10" />
    </a>
    {{ end }}
    {{ with site.Params.social_linkedin }}
    <a href="{{ . }}" target="_blank" rel="noopener noreferrer" class="text-gray-400 hover:text-gray-500"
        aria-label="LinkedIn">
        <img src='{{ "social-icons/linkedin.svg" | relURL }}' alt="LinkedIn" class="w-10 h-10" />
    </a>
    {{ end }}
    {{ with site.Params.social_reddit }}
    <a href="{{ . }}" target="_blank" rel="noopener noreferrer" class="text-gray-400 hover:text-gray-500"
        aria-label="LinkedIn">
        <img src='{{ "social-icons/reddit.svg" | relURL }}' alt="LinkedIn" class="w-10 h-10" />
    </a>
    {{ end }}
</div>